services:
  db:
    image: postgres:16-alpine
    container_name: simpleuploader-db
    environment:
      POSTGRES_DB: simpleuploader
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
